body {
  background-image: linear-gradient(#c8c9d0, #525460);
  color: black;
  font-family: "Times New Roman", Times, serif; 
}

.bottom { 
    text-align: center;  
	background-image: linear-gradient(#768da2, #536779, #768da2);
    display: block;
    color: #e0e4eb;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px; 
    padding: 15px;  
    width: 75%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top { 
    text-align: center;  
    background-image: linear-gradient(#768da2, #536779, #768da2);
    display: block;
    color: #e0e4eb;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px; 
    padding: 15px;  
    width: 75%;
}

img.banner {
	width: 100%;
	height: auto;
}

iframe {
	width: 100%;
	max-width: 600px;
}

table, th, td {
  border: 1px solid black;
  background-color: #013a94;
  color: gold;
}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

span>a {
	display: block;
	text-align: center;
}

td>h3 {
	font-weight: bold;
	text-align: center; 
}

@media only screen and (max-width: 800px) {
	td>img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	tr {
		display: grid;
		grid-column: 1fr;
	}
	
}

h1 {
  text-align: center;
  color: #e0e4eb;
  font-family: "Brush Script MT", Monospace;
  font-weight: 900;
  padding: 15px;   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

h2 {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}

h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;  
}

ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

marquee {
	font-size: 18px;
    height: 30px;
	background-color: orange;
}

.x {
  background-color: #dde3ed;
  padding: 15px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

.topnav {
  background-image: linear-gradient(to bottom right, #536779, #3e4d5b);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 15px; 
}

.topnav a {
  color: #e0e4eb;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Brush Script MT", Monospace;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #dde3ed;
  color: black;
  font-style: italic;
  border-radius: 15px;
}

.topnav .active {
  background-color: #e0e4eb;
  color: #3c485d;
  border-radius: 15px;
}

@media (max-width: 1025px){
  .topnav {
		height: 90px; 
		line-height: 35px;
	}
}

hr {
  height: 3px;
  background-color: #013a94;
}

.bb {
text-align: center;
}

/**Video player**/

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container .main-video{
  background:#525460;
  border-radius: 5px;
  padding:10px
}

.container .main-video iframe{
  width:100;
  border-radius: 5px;
}

.container .main-video .title{
  color:lightgray;
  font-size:23px;
  padding-top:5px;
  padding-bottom:5px;
}

.container .main-video .info{
	color:lightgray;
}

.container .video-list{
  background:#525460;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
  background:#ccc;
  border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb{
  background:#525460;
  border-radius: 50px;
}

.container .video-list .vid iframe{
  display:none
}

.container .video-list .vid{
  display: flex;
  align-items: center;
  gap: 15px;
  background:#dde3ed;
  border-radius: 5px;
  margin:10px;
  padding:10px;
  border:1px solid rgba(0,0,0,.1);
  cursor: pointer;
}

.container .video-list .vid:hover{
  background: #eee;
}

.container .video-list .vid .info{
 display:none;
}

.container .video-list .vid .description{
 display:none;
}

.container .video-list .vid.active{
  background:#3c485d;
}

.container .video-list .vid.active .title{
  color:lightgray;
}

.container .video-list .vid .title{
  color:#333;
  font-size: 17px;
}

@media (max-width:991px){
  .container{
  grid-template-columns: 1.5fr 1fr;
  padding: 10px;
  }
}

@media (max-width:768px){
  .container{
  grid-template-columns: 1fr;
  }
}