body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    text-align:center;
    padding:20px;
}

@font-face {
  font-family: headerFont;
  src: url(../fonts/SuperMario256.ttf);
}

h1 {
    font-family: headerFont;
    font-size: 48px;
}

h2 {
	text-align: center;
}

nav a{
    color:#4da6ff;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.wrapper{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

.bottom { 
    text-align: center;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px; 
    padding: 15px;  
    width: 75%;
}

.about-box{
    background:#1b1b1b;
    padding:20px;
    border-radius:8px;
    margin-bottom:40px;
}

.character-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
    gap:25px;
}

.character{
    background:#1b1b1b;
    border-radius:8px;
    padding:15px;
    text-align:center;
}

.status{
    color:#00ff9d;
    font-weight:bold;
}

.role{
    color:#ffd166;
    font-weight:bold;
}

select{
    padding:8px;
    font-size:16px;
    margin-top:10px;
}

.x {
  padding: 15px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }


/**VIDEO PLAYER**/

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container .main-video{
  background:#fff;
  border-radius: 5px;
  padding:10px
}

.container .main-video iframe{
  width:100%;
  height:350px;
  border-radius: 5px;
}

.container .main-video .title{
  color:black;
  font-size:23px;
  padding-top:5px;
}

.container .main-video .info{
  color:black;
}

.video-list{
  background:#fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.video-list .vid iframe{
  display:none;
}

.video-list .vid{
  display: flex;
  gap: 15px;
  background:#f7f7f7;
  border-radius: 5px;
  margin:10px;
  padding:10px;
  cursor:pointer;
}

.video-list .vid:hover{
  background:#eee;
}

.video-list .vid.active{
  background:#2980b9;
}

.video-list .vid.active .title{
  color:white;
}

.video-list .vid .title{
  color:#333;
}

.video-list .vid .info{
  display:none;
}

@media (max-width:768px){
  .container{
    grid-template-columns: 1fr;
  }
}