html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(CornflowerBlue, darkblue);
  color: black;
  font-family: pFont; 
}

@font-face {
  font-family: headerFont;
  src: url(../fonts/OldRobloxFont.ttf);
}

@font-face {
	font-family: pFont;
	src: url(../fonts/arial.ttf);
}

.bottom { 
    text-align: center;  
    background-color: #d9e0d9;
    display: block;
    color: black;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px; 
    padding: 15px;  
    width: 75%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top { 
    text-align: center;  
    background-color: #013a94;
	background-image: url("../images/RobloxBanner.jpg");
	background-size: 100% 100%;
    display: block;
    color: gold;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px; 
    padding: 15px;  
    width: 75%;
}

.RobloxHeader {
	background-color: #ffffd4;
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

img.banner {
	width: 100%;
	height: auto;
}

iframe {
	width: 100%;
	max-width: 600px;
}

table, th, td {
  border: 1px solid black;
  background-color: #013a94;
  color: gold;
}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

span>a {
	display: block;
	text-align: center;
}

td>h3 {
	font-weight: bold;
	text-align: center; 
}

@media only screen and (max-width: 800px) {
	td>img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	tr {
		display: grid;
		grid-column: 1fr;
	}
	
}

h1 {
  text-align: center;
  color: Red;
  background-color: white;
  text-transform: uppercase; 
  font-weight: 900;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: headerFont;
  font-size: 48px;
  border-radius: 20px;
}

h2 {
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
font-family: pFont;
}

h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-family: pFont;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;  
}

ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

marquee {
	font-size: 18px;
    height: 30px;
	background-color: orange;
}

.BB {
	background-color: #fafaff;
	display: grid;
	grid-template-columns: 1fr;
	border: 1px solid #333333;
	padding: 9px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.BBHeader {
	display: flex;
	align-items: center;
	background-color: #333333;
	color: #fafaff;
	text-align: left;
	width: 75%;
	height: 20px;
	padding: 10px;
	margin: auto;
	clip-path: polygon(
        0 0, /* Top-left */
        calc(100% - 20px) 0, /* Start of notch */
        100% 20px, /* Notch point */
        100% 0, /* Top-right */
        100% 100%, /* Bottom-right */
        0 100% /* Bottom-left */
    );
	background-image: linear-gradient(#616161, #333333, #616161);
}

.x {
  background-color: #d9e0d9;
  padding: 15px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

.topnav {
  background-image: linear-gradient(#1a75ff, #005ce6, #1a75ff);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 15px; 
}

.topnav a {
  color: #fafaff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-family: pFont;
}

.topnav a:hover {
  background-color: #dde3ed;
  color: black;
  font-style: italic;
  border-radius: 15px;
}

.topnav .active {
  background-color: #fafaff;
  color: #0066ff;
  border-radius: 15px;
}

@media (max-width: 850px){
  .topnav {
		height: 90px; 
		line-height: 35px;
	}
}

hr {
  height: 3px;
  background-color: #013a94;
}

/**Video player**/

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container .main-video{
  background:#fff;
  border-radius: 5px;
  padding:10px
}

.container .main-video iframe{
  width:100;
  border-radius: 5px;
}

.container .main-video .title{
  color:black;
  font-size:23px;
  padding-top:5px;
  padding-bottom:5px;
}

.container .video-list{
  background:#fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar{
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
  background:#ccc;
  border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb{
  background:#666;
  border-radius: 50px;
}

.container .video-list .vid iframe{
  display:none
}

.container .video-list .vid{
  display: flex;
  align-items: center;
  gap: 15px;
  background:#f7f7f7;
  border-radius: 5px;
  margin:10px;
  padding:10px;
  border:1px solid rgba(0,0,0,.1);
  cursor: pointer;
}

.container .video-list .vid:hover{
  background: #eee;
}

.container .video-list .vid .info{
 display:none;
}

.container .video-list .vid .description{
 display:none;
}

.container .video-list .vid.active{
  background:#2980b9;
}

.container .video-list .vid.active .title{
  color:#fff;
}

.container .video-list .vid .title{
  color:#333;
  font-size: 17px;
}

@media (max-width:991px){
  .container{
  grid-template-columns: 1.5fr 1fr;
  padding: 10px;
  }
}

@media (max-width:768px){
  .container{
  grid-template-columns: 1fr;
  }
}